body{
	font-family: 'verdana', 'arial', 'serif';
	font-size: 12px;
}
canvas
{
	position: absolute;
	margin: 100px 60px;
	border: 2px solid black;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-moz-border-shadow: 3px 3px 3px #333;
	box-shadow: 3px 3px 3px #333;
}

ul
{
	clear: left;
	display: block;
	list-style: none;
	margin: 0px 0px 0px 60px;
	padding: 0;
}

.form
{
	text-decoration: none;
	float: left;
	margin-right: 16px;
	color: #000;
	border: 1px solid #000;
	padding: 12px;
	width: 93px;
	text-align: center;
	display: block;
	background: #70AED5;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-moz-border-shadow: 3px 3px 8px #333;
	box-shadow: 3px 3px 8px #333;
}

#colors ul li a
{
	text-decoration: none;
	float: left;
	margin-right: 16px;
	margin-top: 20px;
	color: #000;
	border: 1px solid black;
	padding: 7px 12px;
	//border-bottom: none;
	width: 93px;
	height: 2px;
	text-align: center;
	display: block;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-moz-border-shadow: 3px 3px 8px #333;
	box-shadow: 3px 3px 8px #333;
}

.colorblack
{
	background: rgba(0,0,0,1);
}

.colorred
{
	background: rgba(143,0,28,1);
}

.coloryellow
{
	background: rgba(255,194,17,1);
}

.colorgreen
{
	background: rgba(1,135,74,1);
}

.colorblue
{
	background: rgba(11,46,130,1);
}

.colorwhite
{
	background: rgba(255,255,255,1);
}

#buttons
{
	position: absolute;
	width: 920px;
}

.aukaval
{
	text-decoration: none;
	float: left;
	margin-right: 16px;
	color: #000;
	border: 1px solid #000;
	padding: 12px;
	width: 93px;
	text-align: center;
	display: block;
	background: #70AED5;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-moz-border-shadow: 3px 3px 8px #333;
	box-shadow: 3px 3px 8px #333;
}
#buttons2
{
	position: absolute;
	width: 920px;
	margin-top: 520px;
}

#input
{
	position: absolute;
	width: 250px;
	margin-left: 875px;
	margin-bottom: 40px;
	margin-top: 100px;
	text-align: right;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-moz-border-shadow: 3px 3px 8px #333;
	box-shadow: 3px 3px 8px #333;
}
fieldset{
	border: 0px;
	width: 210px;
}
#input .aukaval{
	
}
#input legend{
	text-align: center;
	font-size: 20px;
}
#input label{
	padding-bottom: 10px;
}
#veldu{
	text-align: center;
}
#cleanbutton{
	position: absolute;
	margin-top: 520px;
	margin-left: 675px;
}
#logo{
	position: absolute;
	margin-left: 945px;
	margin-top: 8px;
}