body{
	background-color: #39f;
	text-align: center;
}
#myCanvas{
	position:absolute;
	top: 40px;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
	background-color: #fff;
}
#buttonbrush{
	position:absolute;
	width: 50px;
	height: 17px;
	background-color: #fff;
	font-size: 10px;
	text-align: center;
	padding-top: 3px;
}
#buttonbox{
	position:absolute;
	width: 50px;
	height: 17px;
	background-color: #fff;
	left: 50px;
	font-size: 10px;
	text-align: center;
	padding-top: 3px;
}
#buttoncircle{
	position:absolute;
	width: 50px;
	height: 17px;
	background-color: #fff;
	left: 100px;
	font-size: 10px;
	text-align: center;
	padding-top: 3px;
}
#buttonblack{
	position:absolute;
	width: 50px;
	height: 20px;
	left: 150px;
	background-color: #000;
}
#buttonred{
	position:absolute;
	width: 50px;
	height: 20px;
	background-color: #f00;
	left: 200px;
}
#buttonblue{
	position:absolute;
	width: 50px;
	height: 20px;
	background-color: #00f;
	left: 250px;
}
#buttongreen{
	position:absolute;
	width: 50px;
	height: 20px;
	background-color: #0f0;
	left: 300px;
}
#buttonwhite{
	position:absolute;
	width: 50px;
	height: 17px;
	background-color: #fff;
	left: 350px;
	font-size: 10px;
	text-align: center;
	padding-top: 3px;
}
#buttonclear{
	position: absolute;
	width: 70px;
	height: 17px;
	background-color: #fff;
	left: 400px;
	font-size: 10px;
	text-align: center;
	padding-top: 3px;
}
#buttonsave{
	position: absolute;
	width: 70px;
	height: 17px;
	background-color: #fff;
	left: 470px;
	font-size: 10px;
	text-align: center;
	padding-top: 3px;
}